
.vs/password-keeper/v16/.suo
bin/Debug/net5.0/password-keeper.dll
bin/Debug/net5.0/password-keeper.pdb
obj/Debug/net5.0/password-keeper.dll
obj/Debug/net5.0/password-keeper.pdb
.vs/password-keeper/v16/.suo
bin/Debug/net5.0/password-keeper.dll
bin/Debug/net5.0/password-keeper.pdb
obj/Debug/net5.0/password-keeper.csproj.AssemblyReference.cache
obj/Debug/net5.0/password-keeper.dll
obj/Debug/net5.0/password-keeper.pdb
